* {
    padding: 0;
    margin: 0;
    color: #000;
}
input {
    text-indent: 15px;
    outline:none;
}
button {outline:none;}
.container {
    width: 100%;
    max-width: 1276px;
    margin: 0 auto;
}

a {
 color: inherit;
 text-decoration: none;
 cursor: pointer;
}
.btn {
	display: inline-flex;
	padding: 14px 21px;
}
body {
    
    color: #fff;
    font-family: "Red Hat Display";
}
ul{
    list-style-type: none;
}
.wrapper{
    display: flex;
    justify-content: space-between;
}


.checkbox {
    position: relative;
  }
  

  input[type=checkbox] {
      flex: 0 0 18px;
      margin-right: 11px;
  }

  .checkbox__input:checked + .checkbox__text:before {
    background: #fff url("../img/check.svg") center no-repeat;
  }
  
  .checkbox__text {
    display: inline-flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: -0.3px;
    line-height: calc(20 / 16);
    cursor: pointer;
  }
  
  
  
  .checkbox a {
    color: #fff;
    text-decoration: underline;
  }
  
  .checkbox._error .checkbox__text:before {
    border: 1px solid #ee1212;
  }


.banner {
    width: 100%;
}
.banner__container {
    background: #D4F1F2;
    box-shadow: 0px 4px 20px rgba(7, 38, 115, 0.15);
    border-radius: 20px;
    position: relative;
}

.banner__woman {
    position: absolute;
    bottom: 0;
    left: 19px;
}
.banner__man{
    position: absolute;
    bottom: 0;
    right: 19px;
}
@media (max-width:920px){
    .banner__man{
        display: none;
    }
}
.banner__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.banner__title {
    margin: 40px 0px 0px 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 130%;
    color: #2C428F;
}

.banner__subtitle {
    margin: 5px 0px 25px 0px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 33px;
    color: #2C428F;
    
}
.banner__time {
    width: 372px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    background: url('../img/white.png') no-repeat;
    color: #2C428F;
    position: relative;
}
.banner__price {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 96.68%;
    width: 346px;
    height: 112px;
    text-align: right;
    background: url('../img/blue.png') no-repeat;
    color: #FFFFFF;
    margin: 0px 0px 16px 135px;
}
.banner__btn {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    border: 2px solid #2C428F;
    box-sizing: border-box;
    filter: drop-shadow(0px 8px 20px rgba(11, 206, 214, 0.3));
    border-radius: 10px;
    color: #2C428F;
    width: 217px;
    height: 51px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 0px 44px 0px;
}
.btn {
}
.links{
    margin-top: 40px;
    margin-bottom: 60px;
}
.links__list {
    display: flex;

}
.links__item {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */

    text-decoration-line: underline;
    margin-right: 60px;
    color: #00ADB4;
    position: relative;
}
.links__item::before{
    content: '';
    display: block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: -25px;
    background: url('../img/download.png') 0 0 no-repeat;
}

.banner__social {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
}
.social__items {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #00ADB4;
    border-radius: 50%;
    margin: 0px 0px 20px 0px;
}
.fab {
    color: #fff;
    font-size: 25px;
}
.fa-instagram {
}
.fa-vk {
}
.fa-telegram-plane {
}
.fa-whatsapp {
}
.fa-viber {
}

.advantages {
}
.container {
}
.advantages__row {
    display: flex;
    justify-content: space-between;
    margin: 0px 0px 20px 0px;
}
.advantages__row:last-child{
    margin: 0px 0px 0px 0px;
}
.advantages__item {
    display: flex;
    background: #FFFFFF;
    margin: 0px 20px 0px 0px;
/* shadow */
    padding: 0px 0px 0px 0px;
box-shadow: 0px 4px 20px rgba(7, 38, 115, 0.15);
border-radius: 20px;
    
}
.advantages__img {
    display: flex;
    align-items: center;
    flex: 0 0 304px;
    height: 200px;
}

.advantages__text {
    padding: 30px 20px 0px 30px;
}
.advantages__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    /* Gray 1 */

    color: #333333;
}
.advantages__subtitle {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 20px;

    color: #282828;
}



.checkup{
    margin-top: 70px;
    overflow-x: hidden;
    position: relative;
}

.swiper-container {
}
.checkup__container {
}
.container {
}
.checkup__item {
}
.swiper-slide {
}
.checkup__img {
    position: relative;
}
.checkup__content {
    position: absolute;
    max-width: 516px;
    top: 80px;
    right: 0;
    z-index: 5;
}
.checkup__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #333333;
}
.pagination {
    margin: 43px 0px 43px 0px;
    display: flex;
}
.pagination span {
    display: block;
    width: 12px;
    height: 12px;
    background: #2C428F;
    border-radius: 50%;
    margin: 0px 60px 0px 0px;
    padding: 1px;
    border: 1px solid #2C428F;
    box-sizing: border-box;
    position: relative;
}
.pagination ._active  span ::after{
    content: '';
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 68px;
    height: 0px;
    border: 1px solid #2C428F;
}
.paginatopn span:last-child{
    margin: 0px 0px 0px 0px;
}
.checkup__text h1{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 27px;
    
    /* Gray 1 */
    
    color: #333333
}
.checkup__text{
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(7, 38, 115, 0.15);
    border-radius: 20px;
    padding: 40px;
}
.checkup__text p{
    font-family: Open Sans;
font-style: normal;
font-weight: normal;
font-size: 18px;
line-height: 25px;

color: #000000;
}



.questions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 60px 0px 60px 0px;
}
.questions__name{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    color: #333333;
    margin: 0px 0px 30px 0px;
}
.questions__content {
}

.questions__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    position: relative;
    /* Gray 1 */
    margin: 0px 0px 10px 0px;
    color: #333333;
    background: #FFFFFF;
    /* shadow */
    padding: 20px 0px 20px 30px;
    box-shadow: 0px 4px 20px rgba(7, 38, 115, 0.15);
    border-radius: 10px;
}
.questions__title::after{
    position: absolute;
    right: 20px;
    top: 20px;
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    background: url('../img/plus.png') 0 0 no-repeat;
}
.questions__title._active{
    background: #F9F7FC;
    /* shadow */
    margin: 0px 0px 0px 0px;
    box-shadow: 0px 4px 20px rgba(7, 38, 115, 0.15);
    border-radius: 10px;
}
.questions__body {
    display: none;
    margin: 0px 0px 10px 0px;
    background: #F9F7FC;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;

    /* Gray 2 */
    padding: 10px 0px 30px 0px;
    color: #4F4F4F;
    /* shadow */
    
    box-shadow: 0px 4px 20px rgba(7, 38, 115, 0.15);
    border-radius: 10px;
}

.questions__link{
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 130%;
    /* identical to box height, or 21px */

    text-decoration-line: underline;
    margin: 30px 0px 0px 0px;
    color: #2C428F;
}

.consultation {
    background: #2C428F;
    color: #fff;
}
.consultatin__wrapper {
    display: flex;
    justify-content: start;
    align-items: center;
}

.consultation__quest {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 42px;
    line-height: 57px;
    margin: 0px 60px 0px 0px;
    color: #FFFFFF;
}
.consultation__column {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    flex-direction: column;
    margin: 75px 0px 0px 0px;
}
.consultatin__row {
    display: flex;
    margin: 0px 0px 20px 0px;
}
.consultation__fill {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height */


    color: #FFFFFF;
}
.consultation__form input {
    width: 280px;
    height: 60px;
    background: #FFFFFF;
    /* Gray 4 */
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px 20px 0px 0px;
    padding: 0px 0px 0px 60px;
}
#name{
    position: relative;
}
#name::after{
    content: '';
    width: 18px;
    height: 18px;
    display: block;
    background: url(img/name.png) 0 0 no-repeat;
    position: absolute;
    top: 21px;
    left: 19px;
}
#name::before{
    content: '';
    width: 1px;
    height: 39px;
    display: block;
    position: absolute;
    top: 11px;
    left: 53px;
    background: #BDBDBD;
}
#phone{
    position: relative;
}
#phone::after{
    content: '';
    width: 25px;
    height: 24px;
    display: block;
    background: url(img/phone.png) 0 0 no-repeat;
    position: absolute;
    top: 21px;
    left: 19px;
}
#phone::before{
    content: '';
    width: 1px;
    height: 39px;
    display: block;
    position: absolute;
    top: 11px;
    left: 53px;
    background: #BDBDBD;
}



#mail{
    position: relative;
}
#mail::after{
    content: '';
    width: 25px;
    height: 24px;
    display: block;
    background: url(img/mail.png) center no-repeat;
    position: absolute;
    top: 21px;
    left: 19px;
}
#mail::before{
    content: '';
    width: 1px;
    height: 39px;
    display: block;
    position: absolute;
    top: 11px;
    left: 53px;
    background: #BDBDBD;
}











.input {
}
.phone {
}
.consultation__btn {
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 294px;
    height: 60px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    background: #00ADB4;
    box-shadow: 0px 8px 20px rgba(11, 206, 214, 0.3);
    border-radius: 10px;
}
.checkbox {
}
.checkbox__input {
}
.checkbox__text span{
    font-family: Roboto;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 130%;
    /* identical to box height, or 13px */

    letter-spacing: 0.05em;
    margin: 0px 0px 78px 0px;
    color: #FFFFFF;
}

.checkbox__text a{
    color:  #00ADB4;
}

.pricelist {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    margin-top: 60px;
    margin-bottom: 80px;
}
.container {
}
.pricelist__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */
    margin: 0px 0px 30px 0px;

    /* Gray 1 */

    color: #333333;
}
.pricelist__price {
    display: flex;
    justify-content: space-between;
    max-width: 918px;
    background: #F9F7FC;
    border-radius: 10px;
    margin: 0px 0px 30px 0px;
}
.pricelist__name {
    flex: 0 0 50%;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 100.68%;
    /* or 24px */
    padding: 16px 0px 17px 65px;

    /* Gray 1 */

    color: #333333;
}
.pricelist__cost{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 33px;
    /* identical to box height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 50%;
    /* Gray 1 */
    padding: 12px 65px 12px 0px;
    color: #333333;

}
.pricelist__sales {
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 100.68%;
    /* or 28px */


    color: #00ADB4;
}

.clinic {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 60px;
}
.clinic__bg {
    max-width: 100%;
    position: relative;
}
.clinik__guys {
    position: absolute;
    bottom: 0;
    width: 50%;
}
.clinic__content {
    max-width: 950px;
    position: absolute;
    top: 0;
    right: 0;
    background: #FFFFFF;
    box-shadow: 0px 4px 20px rgba(7, 38, 115, 0.15);
    border-radius: 20px 0px 0px 20px;
    padding: 40px 40px 40px 40px;
}
.clinic__name {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    padding: 0px 0px 30px 0px;
    color: #2C428F;
}
.clinic__title {
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 38px;
    /* identical to box height */
    padding: 0px 0px 20px 0px;

    /* Gray 1 */

    color: #333333;
}
.clinic__text {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 150%;
    /* or 24px */
        max-width: 737px;
    padding: 0px 0px 20px 0px;
    /* Gray 1 */

    color: #333333;
}
.clinic__btn {
    width: 242px;
    height: 52px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #00ADB4;
    box-sizing: border-box;
    border-radius: 10px;
    color: #00ADB4; 
    position: relative;
}

.clinic__btn::after{
    content: '';
    width: 25px;
    height: 25px;
    display: block;
    background: url(img/instagram.png) no-repeat;
    position: absolute;
    right: 10px;
    
}






.form__container{
    display: flex;
    justify-content: space-between;
}
.form__field{
    display: flex;
}
.form__form input { 
    width: 310px;
    height: 50px;
    background: #FFFFFF;
    /* Gray 4 */
    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
    margin: 0px 20px 10px 0px;
    padding: 0px 0px 0px 60px;
}
.field__col{
    padding: 40px 0px 15px 40px;
}
.field__col:last-child{
    padding: 40px 40px 15px 0px;
}
.com input{
    width: 310px;
    height: 170px;
    align-items: flex-start;
    justify-content: start;
    background: #FFFFFF;
    /* Gray 4 */

    border: 1px solid #BDBDBD;
    box-sizing: border-box;
    border-radius: 10px;
}
.form__main{
    max-height: 366px;
    max-width: 724px;
    background: #F7F9FC;
    border-radius: 20px;
}
.field__btn{
    margin: 0px 40px 0px 40px;
    max-width: 641px;
    height: 60px;
    /* btn */

    background: #00ADB4;
    /* shadow CTA */

    box-shadow: 0px 8px 20px rgba(11, 206, 214, 0.3);
    border-radius: 10px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}
.form__checkbox{
    margin: 15px 0px 0px 0px;
    color: #000;
    padding: 0px 64px 40px 38px;
}
.form__checkbox__text a{
    color:  #00ADB4;
}

.form__title{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    /* identical to box height */


    color: #000000
}
.form__subtitle{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;

    /* Gray 1 */
    margin: 20px 0px 20px 0px;
    color: #333333;
}
.form__img{

}









@media (max-width: 1213px){
    .consultatin__wrapper{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }       
}
@media (max-width: 910px){
    .consultatin__row{
        flex-direction: column;
        justify-content: center;
        margin: 0 auto;
    }  
    .consultation__fill{
        margin: 0px 0px 15px 0px;
    }
    .consultation__form{
        margin: 0px 0px 20px 0px;
    }
    .consultation__btn{
        margin: 0px 0px 20px 0px;
    }
    .pricelist__price{
        flex-direction: column;
    }
}
@media (max-width: 1176px){
    .advantages__item{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .advantages__text{
        padding: 0px 15px 30px 15px;
        text-align: center;
    }
    .advantages__img{
        order:-1;
    }
    .advantages__img img{
        width: 100%;
    }
}
@media (max-width: 652px){
    .banner__price{
        width: 230px;
    }
      .advantages__row{
          flex-direction: column;
          margin: 0px 0px 0px 0px;
      }
      .advantages__item{
          margin: 0px 0px 19px 0px;
      }
      .links__list{
          flex-direction: column;
          justify-content: center;
          align-items: center;
      }
      .clinic__img{
          display: none;
      }
      .form__field{
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0px 0px 0px 0px;
      }
      .field__col{
          padding: 40px 0px 0px 0px;
          margin: 0px 0px 10px 0px;
      }
      .form__form input{
          margin: 0px 0px 10px 0px;
      }
      .field__col:last-child{
        padding: 0px 0px 0px 0px;
        margin: 0px 0px 15px 0px;
      }
      .form__main{
          max-height: 100%;
      }
}
@media (max-width:1365px){
    .banner__social{
        top: 0;
        left: 0;
        flex-direction: row;
    }
    .social__items{
        margin: 0px 25px 0px 0px;
    }
    .clinik__guys{
        width: 100%;
    }
    .clinic__content{
        position: static;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .form__container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

@media (max-width: 445px){
    .banner__social{

    }
    .banner__woman{
        display: none;
    }
    .banner__title {
        font-size: 30px;
        line-height: 100%;
    }
    .banner__subtitle {
        font-size: 20px;
        line-height: 29px;
    }
    .banner__time{
        width: 270px;
        height: 40px;
        background: #fff;
    }
    .banner__price{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px 0px 0px 0px;
        width: 240px;
        height: 56px;
        margin: 0px 0px 16px 0px;
        background: #000;
    }
}
@media (max-width: 320px){
    .checkup__text{
        padding: 5px;
    }
    .checkup__content{
        max-width: 90%;
    }
    .checkup__title{
        font-size: 30px;
    }
    .checkup__text h1{
        font-size: 18px;
    }
    .checkup__text p{
        font-size: 16px;
    }
}




